.elevator-card{
  width: 400px;
}

.elevator-id-text{
  text-align: center;
  font-size: 1.5em;
}

.floor-cards-box{
  display: flex;
  gap: 50px;
  justify-content: center;
}

.floor-card{
  background-color: #333333;
  width: 120px;
  text-align: center;
}

.floor-number-text{
  font-weight: bold;
  font-size: 30px;
}

.elevator-box-text{
  text-align: center;
}

.management-card{
  background-color: #333333;
  text-align: center;
}

.management-card-content{
  display: flex;
  background-color: #333333;
}

.management-card-header-element{
  width: 50%;
  border-bottom-style: solid;
  border-width: 1px;
  padding-bottom: 4px;
}

.right-border{
  border-right-style: solid;
  border-width: 1px;
  padding-right: 2px;
}

.left-border{
  border-left-style: solid;
  border-width: 1px;
  padding-left: 2px;
}

.management-card-element{
  width: 50%;
  padding-top: 15px;
}

.floor-list{
  display: grid;
  overflow: hidden;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  place-items: center;
}

.floor-element{
  border-style: solid;
  border-width: 2px;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  line-height: 25px;
  cursor: pointer;
}

.floor-element:active {
  background-color: #ff9966;
}

.delete-box{
  margin-top: 10px;
  display: flex;
  justify-content: right;
}
