.new-elevator-box{
  display: inline-block;
}

.add-new-elevator-button{
  margin-top: 5px;
}

.elevator-box{
  margin-top: 5px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 25px;
  place-items: center;
}
